body {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}

header {
  background-color: seagreen;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1 {
  color: white;
  font-size: 70px;
}

h1,
h2 {
  font-family: "Lobster", cursive;
}

header img {
  border-radius: 50%;
  width: 300px;
  border: 10px solid mediumseagreen;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

main img {
  max-width: 100%;
  padding-left: 200px;
}

.caption {
  text-align: center;
  color: #999;
  font-style: italic;
  margin-top: 0;
}

h2 {
  font-size: 35px;
  color: seagreen;
  margin: 40px 0px 10px;
}

a {
  color: seagreen;
}

a:hover {
  color: salmon;
}

footer {
  background-color: seagreen;
  text-align: center;
  padding: 50px;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}

footer a:hover {
  opacity: 0.5;
  background-color: transparent;
}
