body {
  background-color: lightgrey;
}
h1 {
  font-size: 30px;
  color: teal;
}
h2 {
  font-size: 20px;
  color: pink;
}
.big {
  font-size: 60px;
}
.uppercase {
  text-transform: uppercase;
}
.big.uppercase {
  color: red;
}
h1 span {
  color: violet;
}
